.update-container {
  height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

mat-card {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 20px;
}

mat-error {
  color: red; /* Ensure the error message is red */
  font-size: 12px; /* Optional: adjust font size */
}
