<mat-card>
  <mat-card-title>
    Student Details
    <button
      mat-icon-button
      color="primary"
      class="add-btn"
      (click)="addStudent()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.Id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Aadhaar Column -->
      <ng-container matColumnDef="adhaar">
        <th mat-header-cell *matHeaderCellDef>Aadhaar</th>
        <td mat-cell *matCellDef="let element">{{ element.adhaar }}</td>
      </ng-container>

      <!-- School Column -->
      <ng-container matColumnDef="school">
        <th mat-header-cell *matHeaderCellDef>School</th>
        <td mat-cell *matCellDef="let element">{{ element.school }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="primary"
            (click)="editStudent(element)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteStudent(element.Id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
